* {
  background-color: rgb(237, 191, 191);
}
.header {
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid pink;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  border: 2px solid;
  margin: 5px;
}
.logo {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.card {
    width: 200px;
    border: 1px solid blue;
    padding: 10px;
    background-color: yellowgreen;
    border-radius: 20px;
}

.card  img {
    width: 100%;
}
.body {
    display: flex;
    padding: 5px;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.search-container  {
  color: white;
}
.search-container > input {
  color: white;
}